body {
    background-image: url("./../images/bg.png");
}

#wholeBox {
    padding: 0;
}

#topLine {
    height: 5px;
    background-color: #ff8533;
    margin-bottom: 70px;
}

#left {
    padding-right: 50px;
    text-align: right;
}

#right {
    padding-left: 50px;
}

#name {
    text-transform: uppercase;
    font-size: 48px;
    color: #444444;
    letter-spacing: 3px;
}

#links{
    width: 100%;
    text-align: right;
}

#left #links >a{
    margin: 25px 8px;
}

#tabSec, #tabLine{
    margin-top: 20px;
}

#college {
    margin: 0;
    font-size: 24px;
    color: #ff8533;
    font-weight: 400;
}

#characters {
    padding-top: 20px;
}

#category {
    font-weight: 500;
    color: #989898;
}

#infoRow{
    margin-top:50px;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.8s;
}

a:hover {
    color: #ff8533;
    text-decoration: none;
    opacity: 0.8;
    transition: 0.3s;
}

a.dark:hover {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
    transition: 0.3s;
}

#lineRow {
    margin-left: 5px;
    margin-top: 5px;
}

#line {
    border-bottom: 2px solid #ff8533;
}

#course {
    margin: auto;
    margin-top: 24px;
    display: table;
}

.progress {
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    color: #989898;
    background-color: none;
    margin-top: 10px;
    margin-bottom: 3px;
    margin-left: -13px;
}

.progress-percent {
    font-size: 10px;
    background-color: #313131;
    color: white;
    position: absolute;
    right: -37px;
    top: 7px;
    padding: 4px 8px;
    border-radius: 3px;
}

.progress-percent::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-top: 6px solid #313131;
    border-right: 8px solid transparent;
}


/* #slideshow {
    margin: 80px auto;
    position: relative;
    width: 240px;
    height: 240px;
    padding: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

#slideshow>div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
} */


@media (max-width: 992px){
    #left, #left #links{
        padding-right: 0px;
        text-align: center;
    }

    #right {
        padding-left: 75px; 
        padding-right: 75px; 
    }

    #name, #college, #tabSec{
        text-align: center;
    }

    #tabSec{
        margin-top: 20px;
    }

    .col-md-3#tabSec{
        width: 25%;
        float: left;
    }
    .col-md-4#tabSec{
        width: 33.3%;
        float: left;
    }
}

@media (max-width: 500px){
    .col-md-3#tabSec{
        width: 100%;
        float: left;
    }
    .col-md-4#tabSec{
        width: 100%;
        float: left;
    }
}