body{
    background-color: red;
}

.startpage {
    background-color: darkred;
    height: 170px;
    width: 1048px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

h1, h2, p{
    color:white;
    font-family: 'Anton', Verdana, sans-serif;
    margin: 2px;
}

.startpage h1{
    font-size: 70px;
    margin: 0px;
}


.board {
    background-color: darkred;
    height: 700px;
    width: 1048px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
}

